<%= link_to(business) do %>
   <div class="business_index_single row">
      <div class="col-md-3">
      	<%= image_tag business.user.profile.url(:medium) %>
      </div>

      <div class="col-md-6" style="margin-left: 100px">
      	<% if !business.business_category.nil? %>
           <br><b>Category:</b> <%= business.business_category.name %>
        <% end %>

      	<br><br><b>Name:</b> <%= highlight(business.name, params['search']) %>          
        <br><br><b>Description:</b> <%= highlight(business.description, params['search']) %>
      </div>
   </div>
<% end %>

<div style = "height: 5px; margin: 10px 0 10px 0; background-color:#ddd;clear:both"></div>