<%= link_to(business) do %>
   <div class="business_index_single row">
      <div style="clear:both;">
         <% if business.user.profile.url.include? "missing" %>
            <%= image_tag business.business_pic.url(:small), class: 'col-md-4' %>
         <% else %>
            <%= image_tag business.user.profile.url(:small), class: 'col-md-4' %>
         <% end %>
      </div>
      <div class="col-md-6"><b>Name:</b> <%= highlight(business.name, params['search']) %><br>
      <% if !business.business_category.nil? %>
         <b>Category:</b> <%= business.business_category.name %>
      <% end %>
      <br><br>
       <div class="ellipsis_business_description">
         <div><b>Description:</b> <%= highlight(business.description, params['search']) %></div>
         </div>
      </div>
   </div>
<% end %>

<div style = "height: 5px; margin: 10px 0 10px 0; background-color:#ddd;clear:both"></div>