<%= link_to(business) do %>
   <div class="business_index_single row">
      <div style="clear:both;"><%= image_tag business.business_pic.url(:medium), class: "col-md-3" %></div>
      <div class="col-md-6"><b>Name:</b> <%= highlight(business.name, params['search']) %><br>
      <% if !business.business_category.nil? %>
         <b>Category:</b> <%= business.business_category.name %>
      <% end %>
      <br><br>
       <div class="ellipsis_business_description">
         <div><b>Description:</b> <%= highlight(business.description, params['search']) %></div>
         </div>
      </div>
   </div>
<% end %>

<div style = "height: 5px; margin: 10px 0 10px 0; background-color:#ddd;clear:both"></div>