<!-- Load Facebook SDK-->
<div id="fb-root"></div>

<!-- beginning of row 1 -->
<div class="row">
  <!-- Row that includes business picture, name, mission statement, and description -->

  <div class="col-md-1">
    <!-- I made this so things would be centered -->
  </div>

  <div class="col-md-4">
  <!-- business picture -->
    <% if @business.user.profile.url.include? "missing" %>
       <%= image_tag @business.business_pic.url(:medium), class: 'col-md-12 col-xs-6' %>
    <% else %>
       <%= image_tag @business.user.profile.url(:medium), class: 'col-md-12 col-xs-6' %>
    <% end %>
  </div>
  <div class="col-md-6">
    <div class="text-center">
      <!-- business name -->
      <h1><strong><%= @business.name %><strong></h1>
    </div>

    <p class="lead">
      <!-- business description -->
      <%= @business.description %>
    </p>
  </div>

  <div class="col-md-1">
    <!-- I made this so things would be centered -->
  </div>

</div> 
<!-- end of row 1 -->

<!-- beginning of row 2 -->
<div class="row">
  <!-- Row that includes contact details, category, groupgrants, etc. -->
  <div class="col-md-1">
    <!-- I made this so things would be centered -->
  </div>

  <div class="col-md-4">
    <!-- Contact details -->
    <div class="panel panel-default" style="margin:30px;">
      <div class="panel-heading">
        <h3 class="panel-title"><%= "Contact:" %></h3>
      </div>
      <div class="panel-body">
        <% if !@business.user.phone.blank? %>
          Phone: <%= number_to_phone(@business.user.phone, area_code: true) %><br>
        <%else %>
          Phone: not listed<br>
        <% end %>
          Address: not listed <br><%= @business.user.address %><br>
        <!-- Connection request for Business to business -->
          <% if user_signed_in? && current_user.rolable.class.name == "Charity" %>
          <!-- <button class="btn btn-primary btn-block" tabindex="1" data-toggle="modal" data-target="#myModal">Send Message</button> -->
          <div class="modal fade" id="myModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Message</h4>
                </div>
                <div class="modal-body">
                 <div class="input-group">
                  <form>
                   <input type="text" class="form-control" id="chat_message">
                   <span class="input-group-btn">
                     <button class="btn btn-primary" type="submit" id="send_message">Send</button>
                   </span>
                 </form>
                  </div>
                </div>
                <div class="modal-footer">
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
          <% end %>
      </div>
    </div>

    <!-- Show a list of available groupGrants for the charity - KW -->
    <% if @available == true %>
    <div style="margin-left:auto;margin-right:auto;width:80%;">
    <!-- CONTACT NEW FRIEND -->
      <select class="select_new_contact form-control " data-placeholder="Choose one" id="autocomplete">
        <option></option>
        <% @search_groupgrants.each do |groupgrant| %>
          <% if !Request.where(is_accepted:nil, groupgrant_id: groupgrant.id).first %>
            <option value= <%= groupgrant.id %>>
               &nbsp&nbsp <%= groupgrant.name %>
            </option>
          <% end %>
        <% end %>
      </select>

      <button class="btn btn-primary btn-sm btn-block" data-toggle="modal" data-target="#contactSelectedUser" style="margin-top:5px; margin-bottom:10px" id="b_invite">
        Send Request
      </button>
    </div>
    <% end %>

    <div class = "row">
      <!-- Social media icons -->
      <div class = "col-md-11">
        <div class = "col-md-3 social-media-icons automargin">
         <table>
          <tr>
           <td>                                                     
            <!-- Show Tweet Button -->
            <div id="tweets" ></div>
          </td>
        </tr>
        <tr>
         <td>
          <!-- Show Facebook button -->
          <div id="sharePage"></div>                
        </td>
      </tr>
    </table> 
  </div>
</div>
</div><!-- row -->
</div><!-- col-md-4 -->

<div class="col-md-6">
  <% if @business.groupgrants.count > 0 %>
    <br />
    <h3 style="margin:0px 0 0px 0;"><em>Participating groupGrants</em></h3>
    <br />
    
    <div class="groupgrants">
      <%= render :partial => 'groupgrant', collection: @business.groupgrants, as: :groupgrant %>
    </div>
  <% end %>
</div>

<div class="col-md-1">
  <!-- I made this so things would be centered -->
</div>

</div>
<!-- end of row 2 -->


<%= stylesheet_link_tag "chosen.min.css" %>
<%= stylesheet_link_tag "chosen-bootstrap.css" %>
<%= javascript_include_tag("chosen.jquery.min.js") %>
<%= javascript_include_tag("facebook_twitter_api.js") %>