<div class="row">
   <div class="col-md-4">
      <%= image_tag @business.user.profile.url(:medium) %>
   </div>
   <div class="col-md-7">
      <br><h2><%= @business.name %></h2>
   </div>

   <% if current_user &&  current_user.id == @business.id %>
      <div class = "col-md-1">
         <h6><%= link_to 'Edit Page', edit_user_registration_path %></h6>
      </div>
   <% end %>
</div>

<br><br>
<div class = 'businesstabbar'>
   <div class = "row">
      <ul class = "nav nav-pills">                             
         <li><a href="#" class='facebook'>Facebook</a></li>
         <li><a href="#" class="twitter">Twitter</a></li>  
         <li><a href="#" class="linkedin">LinkedIn</a></li> 
         <li><a href="#" class="pinterest">Pinterest</a></li>
         <li><a href="#" class="googleplus">GooglePlus</a></li>             
         
         <li><a href="#">Connect</a></li>
      </ul>   
   </div>
</div>

<br><br>

<div class = "row">
   <div class="col-md-6">
      <h3>Description</h3>
      <%= @business.description %>
   </div>

   <div class="col-md-6">
      <h3>Interests</h3>
      <%= @business.interests %>
   </div>
</div>

<br><br>
<h3>Participating groupGrants<h3>

<div class="row">
   <div class="col-md-4">
      <%= image_tag @business.user.profile.url(:medium) %>
   </div>
   <div class="col-md-4">
      <%= image_tag @business.user.profile.url(:medium) %>
   </div>
   <div class="col-md-4">
      <%= image_tag @business.user.profile.url(:medium) %>
   </div>
</div>

