<LINK href="businesses.css.scss" rel="stylesheet" type="text/css">

<div class="row">
   <div class="col-md-4">
      <%= image_tag @business.user.profile.url(:medium) %>
   </div>
   <div class="col-md-7">
      <br><h2><%= @business.name %></h2>
          <p><%= @business.slogan %></p>
      <br><br><br><br>
      <br><h4><%= "Contact Information:" %></h4>
          <%= @business.user.phone %>
      <br><%= "(Address)" %>
      <br><%= "(Address continued)" %>
   </div>

   <% if current_user &&  current_user.id == @business.id %>
      <div class = "col-md-1">
         <h6><%= link_to 'Edit Page', edit_user_registration_path %></h6>
      </div>
   <% end %>
</div>

<br>
<div class = "row">
   <div class = "col-md-11">
      <div class = "social-media-icons">
         <%= image_tag('Facebook.png', :alt => "Facebook") %>
         <%= image_tag('Twitter.png', :alt => "Twitter") %>
         <%= image_tag('LinkedIN.png', :alt => "LinkedIN") %>
         <%= image_tag('Pinterest.png', :alt => "Pinterest") %>
         <%= image_tag('GooglePlus.png', :alt => "GooglePlus") %>
      </div>
   </div>
   <div class = "col-md-1">
      <button type="button" class="btn btn-connect">Connect</button>
   </div>
</div>

<br><br>

<div class = "row">
   <div class="col-md-6">
      <h3>Description</h3>
      <%= @business.description %>
   </div>

   <div class="col-md-6">
      <h3>Interests</h3>
      <%= @business.interests %>
   </div>
</div>

<br><br>
<h3>Participating groupGrants<h3>