<!--Facebook SDK-->
<script>
   window.fbAsyncInit = function() {
   FB.init({
   appId      : '603004516422329',
   status     : true,
   xfbml      : true
   });
   };

   (function(d, s, id){
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/en_US/all.js";
   fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<LINK href="businesses.css.scss" rel="stylesheet" type="text/css">

<div class="row">
      <%= image_tag @business.user.profile.url(:medium), class: 'col-md-4' %>
   <div class="col-md-7">
      <div class="title"><%= @business.name %></div>
         <p>The slogan will go here</p>
         <br><h4><%= "Contact Information:" %></h4>
         <%= @business.user.phone %>
         <br><%= "(Address)" %>
         <br><%= "(Address continued)" %>
   </div>

   <% if current_user &&  current_user.id == @business.id %>
      <div class = "col-md-1">
         <h6><%= link_to 'Edit Page', edit_user_registration_path, class: "btn btn-primary btn-md", style:"float:right"%></h6>
      </div>
   <% end %>
</div>

<div class = "row">
   <div class = "col-md-11">
      <div class = "social-media-icons">
         <!-- Share Button-->
         
         <script>
            var href = location.pathname;
            var share = "<div class=\'fb-share-button\' data-href=\'http://www.groupGrant.com" + href + "\'data-width=\'70\' data-type=\'button_count\'></div>";
            document.write(share);
         </script>
         <br />
         <!-- Share a Tweet-->
         <script>
            var href = location.pathname;
            var tweet = "<a href=\'http://www.groupGrant.com" + href;
            var tweet2 = "\' class=\'twitter-share-button\' data-lang=\'en\'>Tweet</a>";
            document.write(tweet+tweet2);
         </script>
         <script>
            !function(d,s,id)
            {var js,fjs=d.getElementsByTagName(s)[0];
            if(!d.getElementById(id))
            {
            js=d.createElement(s);
            js.id=id;
            js.src="https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js,fjs);
            }
            }
            (document,"script","twitter-wjs");
         </script>
      </div>
   </div>
   <div class = "col-md-1">
      <h6><%= link_to 'Connect', edit_user_registration_path, class: "btn btn-connect btn-md", style:"float:right"%></h6>
      
   </div>
</div>

<br><br>

<div class = "row">
   <div class="col-md-6">
      <h3>Description</h3>
      <%= @business.description %>
   </div>

   <div class="col-md-6">
      <h3>Interests</h3>
      <%= @business.interests %>
   </div>
</div>

<br><br>
<div class = "row">
   <% if @business.groupgrants.count < 0 %>
      <h3>Participating groupGrants</h3><br>
      <%= render :partial => '/groupgrants/groupgrant', collection: @business.groupgrants %>
   <% end %>
</div>