<br>
<div class="row">
  <div class="col-sm-4 col-lg-3 col-lg-offset-1">
   
    <!-- SEND MESSAGE Modal -->
    <div class="modal fade" id="contactSelectedUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
        <form data-async data-target="event|close" action="<%= Rails.configuration.dumb_url %>/messages" method="POST">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Message</h4>
          </div>
          <div class="modal-body">
            <fieldset>
              <textarea id="newMessage" class="form-control" rows="3"></textarea>
            </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
        </form>
      </div>
    </div>
  </div>


  <!-- Friend table -->
  <div id="friends">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><h2>Connections</h2></th>
        </tr>
      </thead>

      <tbody>
        <% @friends.each do |friend| %>
        <tr>
          <td>
            <div class="friend" data-user=<%= friend.id %>>
              <div class="active_friend">
                <% if(!friend.last_ping_time.nil? && 
                      friend.last_ping_time >= (Time.current - 1.minutes)) %> 
                <span class="glyphicon glyphicon-asterisk" style="color:green">  </span>
                <% end %>
                &nbsp
              </div>
              <div style="float:left">
                <b><%= friend.rolable.name %></b><br>
                <%= friend.email %>
              </div>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div> 
  <br>

<!-- CONTACT NEW FRIEND -->
  <select class="select_new_contact form-control " data-placeholder="Contact Someone new">
    <option></option>
    <% @search_users.each do |user| %>
      <% if(!user.last_ping_time.nil? && 
                  user.last_ping_time >= (Time.current - 1.minutes)) %> 
        <option style="color:green" value= <%= user.id %>> 
          * <%= user.rolable.name %>
        </option>
      <% else %>
        <option value= <%= user.id %>>
          <%= user.rolable.name %>
        </option>
      <% end %>     
    <% end %>
  </select>



  <button class="btn btn-primary btn-sm btn-block" data-toggle="modal" data-target="#contactSelectedUser" style="margin-top:5px; margin-bottom:10px">
    Contact
  </button>
  
</div>

<!-- THE MESSESAGES LIST -->
<div class="col-sm-8 col-lg-7">
  <div  id="message_table" style="max-height: 600px; overflow-y: scroll">
    <!-- Messages table -->
    <table class="table" id="chats">
      <tbody >

      </tbody>
    </table>
      </div>
    <div id="bottom_table">
      <div>
        <form class="input-group"  id="send_message" >
          <input type="text" class="form-control" id="chat_message">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit" id="send_message">Send</button>
          </span>
        </form>
      </div>
    </div>
    <br>
    <input type='hidden' id="current_user" value=<%=current_user.id%>>
    <% if @last_message %>
    <input type='hidden' id="last_id" value=<%= @last_message.id %> >
    <% end %>


</div>
</div>
<%= stylesheet_link_tag "chosen.min.css" %>
<%= stylesheet_link_tag "chosen-bootstrap.css" %>

<%= javascript_include_tag("chosen.jquery.min.js") %>
