<div><%= f.label :name, "Organization Name" %><br />
<%= f.text_field :name %></div>

<div><%= f.label :eid, "Employee Identification Number (EIN)" %><br />
<%= f.text_field :eid %></div>

<div><%= f.label :description, "Describe your Organization in 1000 words or less." %><br />
<%= f.text_area :description, size: "60x4"  %></div>