<%
  # customized code begin
  if !resource.rolable_type.nil? && ["donor", "charity", "business"].include? resource.rolable_type.downcase 
    if ["donor", "charity", "business"].include? params[:user][:user_type].downcase
      child_class_name = resource.rolable_type.downcase.camelize
      user_type = resource.rolable_type.downcase
    else
      child_class_name = "donor"
      user_type = "donor"
    end
  end

  resource.rolable_type = child_class_name.constantize.new if resource.rolable_type.nil?

  # customized code end
%>

<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

<% if f.object.encrypted_password.present? %>
  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>
<% end %>
 
 <% if !resource.rolable_type.nil? %>
   <%= fields_for resource.rolable_type do |rf| %>
       <% render :partial => "#{child_class_name.underscore}_fields", :locals => { :f => rf } %>
   <% end %>
 <% end %>

  <div><%= f.submit "Update" %></div>
<% end %>

<!-- <h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => 
  { :confirm => "Are you sure you want to cancel your account??" }, :method => :delete %>.</p> -->

<%= link_to "Back", :back %>
