 <% content_for :banner do %>
  <div id="homeCarousel" class="carousel slide" =>
    <!-- Carousel items -->
    <div class="carousel-inner">
      <% Dir.foreach("app/assets/images/home_carousel") do |item| %>
          <% next if item == '.' or item == '..' or item == '*.html' %>
          <% Rails.logger.info(item) %>
          <div class="item">
            <%= image_tag(('home_carousel/' + item), :alt => "homeCarousel", :class => "automargin maxheight300") %>
            <!-- <div class="carousel-caption">
                 <%= simple_format :file => ('app/assets/images/home_carousel/' + item + '.html') %>
            </div> -->
          </div>
      <% end %>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#homeCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#homeCarousel" data-slide="next">&rsaquo;</a>
  </div>
<% end %>
<% content_for :featured do %>
  <%= image_tag('featured.png', alt: "groupGrant", class: "banner") %>
<% end -%>

<h3>How would you describe yourself?</h3>
<ul class="thumbnails" style="list-style-type:none;">
  <li class="span4">
      <%= link_to(charity_sign_up_path, class: "thumbnail") do %>
      
      <%= image_tag('charity.jpg', :alt => "Charity") %>

      <% end %>
  </li>

  <li class="span4">
    <%= link_to(business_sign_up_path, class: "thumbnail") do %>
      
      <!--img data-src="holder.js/300x200" alt="Business"-->
      <%= image_tag('business.jpg', :alt => "Business") %>
    <% end %>
  </li>
  
  <li class="span4">
     <%= link_to(donor_sign_up_path, class: "thumbnail") do %>
      
      <%= image_tag('donor.jpg', alt: "Donor") %>
      <% end %>
  </li>

</ul>


<%= javascript_include_tag("holder.min.js") %>
<%= javascript_include_tag("homepage.js") %>