
<% content_for :homepage do %>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active" style="height:100%;width:100%;">
        <%= image_tag('home_carousel/banner1.jpg', class: "center_image") %>
      </div>
      <div class="item" style="height:100%;width:100%;">
        <%= image_tag('home_carousel/banner2.jpg', class: "center_image") %>
      </div>
      <div class="item" style="height:100%;width:100%;">
        <%= image_tag('home_carousel/banner3.jpg', class: "center_image") %>
      </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>


  <div class="user-container">
    <section class="charity user">
      <div class="section-inner">
        <div class="wrapper">
          <%= image_tag('charity.png', class: 'img-responsive charity_img user_image')%>

          <div class="copy">
            <h1 class="title">
              Charity
            </h1>
            <p>
              Are you in need of some supplies or funds for a project? Do you need help from businesses and donors?
              Would you like to have a fundraiser that reaches the entire masses? Then sign up with groupGrant today! 
              We make it easy for charities to connect with businesses and individuals. Join&nbsp;in&nbsp;today!
            </p>
          </div>
          <% if current_user.nil? %>
            <%= link_to(charity_sign_up_path, style:"text-decoration: none") do %>
                <button type="button" class="btn btn-primary btn-lg btn-block">Register as a Charity</button>
            <% end %>
          <% end %> 
        </div>
      </div>
    </section>
    <section class="business user">
      <div class="section-inner">
        <div class="wrapper">
          <%= image_tag('business.png', class: 'img-responsive business_img user_image')%>
          <div class="copy">
            <h1 class="title">
              Business
            </h1>
            <p>
              Are you a business looking to give back? Do you have products you would like to donate, but don't know which charity to donate them to? Here at groupGRANT you can explore many charities in your areas of interest. Connect with charities that have needs and sponsor a groupgrant! We make it easy for businesses to donate to charities. Sign&nbsp;up&nbsp;today!
            </p>
           </div>
             <% if current_user.nil? %>
                <%= link_to(business_sign_up_path, style:"text-decoration: none") do %>
                    <button type="button" class="btn btn-primary btn-lg btn-block">Register as a Business</button>
                <% end %>
              <% end %>
          </div>
      </div>
    </section>
    <section class="donor user">
      <div class="section-inner">
        <div class="wrapper">
          <%= image_tag('donor.png', class: 'img-responsive business_img user_image')%>
          <div class="copy">
            <h1 class="title">
              Donor
            </h1>
            <p>
              Do you have a heart for the suffering and needy? Would you like to know how you can make a difference in your giving? Use groupGRANT to find charities that touch your heart, and see how you can give towards their cause. Donate towards a groupgrant and share your burden with others on Facebook and Twitter! We make it easy for you to donate to charities. Sign&nbsp;up&nbsp;today!
            </p>
          </div>
        </div>
      </div>
      <% if current_user.nil? %>
        <%= link_to(donor_sign_up_path) do %>
            <button type="button" class="btn btn-primary btn-lg">Register as a Donor</button>
        <% end %>
      <% end %>
    </section>
  </div>
  <div class="explore">
    <div class="wrapper-explore">
      <%= link_to(groupgrants_path, style:"text-decoration: none") do %>
        <button type="button" class="btn btn-success btn-lg btn-block">Explore groupGrants!</button>
      <% end %>
    </div>
  </div>
  















<!-- <section id="charity" class="row homerow">
  <div class="col-md-8 col-md-offset-2"><%= image_tag('homepage/kids.jpg', class: 'img-responsive')%></div>
    <div class="col-md-5" >
      <h1 class="title"><b>Charity</b></h1>
      <div class="homepage_maintext" style="padding-right:100px; padding-bottom:20px; ">
        Are you in need of some supplies or funds for a project? Do you need help from businesses and donors?
        Would you like to have a fundraiser that reaches the entire masses? Then sign up with groupGrant today! 
        We make it easy for charities to connect with businesses and individuals. <em>Join in</em> today!
      Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui.
    </div>
    <%= link_to(charity_sign_up_path) do %>
        <button type="button" class="btn btn-primary btn-lg">Register as a Charity</button>
    <% end %>
  </div>
</section>


<section id="business" class="row homerow">
  <div class="col-md-5"style="padding-left:100px; padding-top: 40px;" >
      <h1 class="title"><b>Business</b></h1>
      <div class="homepage_maintext" style="padding-bottom:20px; ">
      Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui.
    </div>
    <%= link_to(business_sign_up_path) do %>
        <button type="button" class="btn btn-primary btn-lg">Register as a Business</button>
    <% end %>
  </div>
  <div class="col-md-7"><%= image_tag('homepage/business.png', style:"max-height:500px; padding-right:60px;", class: 'automargin img-responsive')%></div>
</section>

<section id="share" class="row homerow">
  <div class="col-md-7"><%= image_tag('homepage/share.jpg', class: 'img-responsive')%></div>
    <div class="col-md-5" style="padding-top: 20px;" >
      <h1 class="title"><b>Make a Donation!</b></h1>
      <div class="homepage_maintext" style="padding-right:100px; padding-bottom:20px; ">
      Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui.
    </div>
    <%= link_to(donor_sign_up_path) do %>
        <button type="button" class="btn btn-primary btn-lg">Register as a Donor</button>
    <% end %>
  </div>
</section> -->



<% end %>
<%= javascript_include_tag("holder.min.js") %>
<%= javascript_include_tag("homepage.js") %>