
<% content_for :homepage do %>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
        <%= image_tag('home_carousel/CharitySlide.jpg', class: "center_image") %>
        <div class="carousel-caption">
          <h3>Charities</h3>
          <p>Spread awareness of your Charity! Share your needs with others by starting a groupGrant. Find local or global businesses who can provide you with whatever you need.</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag('home_carousel/BusinessSlide.jpg', class: "center_image") %>
        <div class="carousel-caption black">
          <h3>Businesses</h3>
          <p>Improve the quality of life for others by giving to a charity. Offer products at discounted prices to charities! There are many charities who need the help of businesses to make the world a happier place.</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag('home_carousel/DonorSlide.jpg', class: "center_image") %>
        <div class="carousel-caption">
          <h3>Donors</h3>
          <p>Make a difference by donating to a groupgrant! Explore the many groupgrants and take part in a charity's cause. Help a charity by donating or by simply spreading the word.</p>
        </div>
      </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<div class="row register">
  <h1><strong>Register</strong><small><em> What type of user are you?</em></small></h1>
</div>

  <div class="user-container">
    <section class="charity user">
      <div class="section-inner">
        <div class="wrapper">
          <%= link_to image_tag('charity.png', class: 'img-responsive charity_img user_image'), charity_sign_up_path %>
          <div class="copy">
            <p>
              Create a page for your charity and help spread awareness. Have a need? Start a groupGrant and encourage others to donate towards your need. Connect with businesses who can further your cause. We make it easy for charities to connect with businesses and individuals. Join&nbsp;in&nbsp;today!
            </p>
          </div>
          <% if current_user.nil? %>
            <%= link_to(charity_sign_up_path, style:"text-decoration: none") do %>
                <button type="button" class="btn btn-primary btn-lg btn-block">Register as a Charity</button>
            <% end %>
          <% end %> 
        </div>
      </div>
    </section>
    <section class="business user">
      <div class="section-inner">
        <div class="wrapper">
          <%= link_to image_tag('business.png', class: 'img-responsive business_img user_image'), business_sign_up_path %>
          <div class="copy">
            <p>
              Are you a business looking to give back? Explore and connect with charities in your areas of interest. Find a charity that needs your help and sponsor a groupGrant! We make it easy for businesses to give back to society. Sign&nbsp;up&nbsp;today!
            </p>
           </div>
             <% if current_user.nil? %>
                <%= link_to(business_sign_up_path, style:"text-decoration: none") do %>
                    <button type="button" class="btn btn-primary btn-lg btn-block">Register as a Business</button>
                <% end %>
              <% end %>
          </div>
      </div>
    </section>
    <section class="donor user">
      <div class="section-inner">
        <div class="wrapper">
          <%= link_to image_tag('donor.png', class: 'img-responsive business_img user_image'), donor_sign_up_path %>
          <div class="copy">
            <p>
              Would you like to make a difference in your giving? Find charities that interest you, and see how you can give towards their cause. Donate towards a groupGrant and share your burden with others on Facebook and Twitter. Sign&nbsp;up&nbsp;today!
            </p>
          </div>
        </div>
      </div>
      <% if current_user.nil? %>
        <%= link_to(donor_sign_up_path) do %>
            <button type="button" class="btn btn-primary btn-lg btn-block">Register as a Donor</button>
        <% end %>
      <% end %>
    </section>
  </div>
  <div class="explore">
    <div class="wrapper-explore">
      <%= link_to(groupgrants_path, style:"text-decoration: none") do %>
        <button type="button" class="btn btn-success btn-lg btn-block">Explore groupGrants!</button>
      <% end %>
    </div>
  </div>
  















<!-- <section id="charity" class="row homerow">
  <div class="col-md-8 col-md-offset-2"><%= image_tag('homepage/kids.jpg', class: 'img-responsive')%></div>
    <div class="col-md-5" >
      <h1 class="title"><b>Charity</b></h1>
      <div class="homepage_maintext" style="padding-right:100px; padding-bottom:20px; ">
        Are you in need of some supplies or funds for a project? Do you need help from businesses and donors?
        Would you like to have a fundraiser that reaches the entire masses? Then sign up with groupGrant today! 
        We make it easy for charities to connect with businesses and individuals. <em>Join in</em> today!
      Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui.
    </div>
    <%= link_to(charity_sign_up_path) do %>
        <button type="button" class="btn btn-primary btn-lg">Register as a Charity</button>
    <% end %>
  </div>
</section>


<section id="business" class="row homerow">
  <div class="col-md-5"style="padding-left:100px; padding-top: 40px;" >
      <h1 class="title"><b>Business</b></h1>
      <div class="homepage_maintext" style="padding-bottom:20px; ">
      Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui.
    </div>
    <%= link_to(business_sign_up_path) do %>
        <button type="button" class="btn btn-primary btn-lg">Register as a Business</button>
    <% end %>
  </div>
  <div class="col-md-7"><%= image_tag('homepage/business.png', style:"max-height:500px; padding-right:60px;", class: 'automargin img-responsive')%></div>
</section>

<section id="share" class="row homerow">
  <div class="col-md-7"><%= image_tag('homepage/share.jpg', class: 'img-responsive')%></div>
    <div class="col-md-5" style="padding-top: 20px;" >
      <h1 class="title"><b>Make a Donation!</b></h1>
      <div class="homepage_maintext" style="padding-right:100px; padding-bottom:20px; ">
      Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui.
    </div>
    <%= link_to(donor_sign_up_path) do %>
        <button type="button" class="btn btn-primary btn-lg">Register as a Donor</button>
    <% end %>
  </div>
</section> -->



<% end %>
