<% content_for :featured do %>
    <div data-smooth-scrolling=on data-0="opacity:1;margin-bottom:0%;" data-200="opacity:0;margin-bottom:-20%;" class="skrollable skrollable-between banner">
      <%= image_tag('featured2.png', alt: "groupGrant", class:"automargin") %>
    </div>
<% end %>
<h3>How would you describe yourself?</h3>
<ul class="thumbnails" style="list-style-type:none;">
  <li class="span4">
      <%= link_to(charity_sign_up_path, class: "thumbnail") do %>
      
      <%= image_tag('charity.jpg', :alt => "Charity") %>

      <% end %>
  </li>

  <li class="span4">
    <%= link_to(business_sign_up_path, class: "thumbnail") do %>
      
      <!--img data-src="holder.js/300x200" alt="Business"-->
      <%= image_tag('business.jpg', alt: "Business") %>
    <% end %>
  </li>
  
  <li class="span4">
     <%= link_to(donor_sign_up_path, class: "thumbnail") do %>
      
      <%= image_tag('donor.jpg', alt: "Donor") %>
      <% end %>
  </li>

</ul>


<%= javascript_include_tag("holder.min.js") %>
<%= javascript_include_tag("homepage.js") %>