
<% content_for :homepage do %>
<% if current_user.nil? %>
  <div class="hideHype" style="height:1000px;">
    <div id="groupgrant_hype_container" style="position:relative;overflow:hidden;width:1268px;height:400px;margin:130px auto;">
        
    </div>
    <p class="skip">Click to Skip</p>
  </div>
<% end %>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active" style="height:100%;width:100%;">
        <%= image_tag('home_carousel/CharitySlide.jpg', class: "center_image") %>
        <div class="carousel-caption">
          <h3>Charity</h3>
          <p>Create a page for your charity and help spread awareness. Have a need? Start a groupGrant and encourage others to donate towards your need. Connect with businesses who can further your cause. We make it easy for charities to connect with businesses and individuals.</p>
        </div>
      </div>
      <div class="item" style="height:100%;width:100%;">
        <%= image_tag('home_carousel/BusinessSlide.jpg', class: "center_image") %>
        <div class="carousel-caption" style="color: black;">
          <h3>Business</h3>
          <p>Are you a business looking to give back? Explore and connect with charities in your areas of interest. Find a charity that needs your help and sponsor a groupGrant! We make it easy for businesses to give back to society.</p>
        </div>
      </div>
      <div class="item" style="height:100%;width:100%;">
        <%= image_tag('home_carousel/DonorSlide.jpg', class: "center_image") %>
        <div class="carousel-caption">
          <h3>Donor</h3>
          <p>Would you like to make a difference in your giving? Find charities that interest you, and see how you can give towards their cause. Donate towards a groupGrant and share your burden with others on Facebook and Twitter!</p>
        </div>
      </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<div class="row" style="margin:0px;">
  <h1 style="margin-left:auto; margin-right:auto; width:80%;"><strong>Register</strong><small><em> What type of user are you?</em></small></h1>
</div>

  <div class="user-container">
    <section class="charity user">
      <div class="section-inner">
        <div class="wrapper">
          <%= link_to image_tag('charity.png', class: 'img-responsive charity_img user_image'), charity_sign_up_path %>
          <div class="copy">
            <p>
              Are you in need of some supplies or funds for a project? Do you need help from businesses and donors?
              Would you like to have a fundraiser that reaches the entire masses? Then sign up with groupGrant today! 
              We make it easy for charities to connect with businesses and individuals. Join&nbsp;in&nbsp;today!
            </p>
          </div>
          <!-- <% if current_user.nil? %>
            <%= link_to(charity_sign_up_path, style:"text-decoration: none") do %>
                <button type="button" class="btn btn-primary btn-lg btn-block">Register as a Charity</button>
            <% end %>
          <% end %> --> 
        </div>
      </div>
    </section>
    <section class="business user">
      <div class="section-inner">
        <div class="wrapper">
          <%= link_to image_tag('business.png', class: 'img-responsive business_img user_image'), business_sign_up_path %>
          <div class="copy">
            <p>
              Are you a business looking to give back? Do you have products you would like to donate, but don't know which charity to donate them to? Here at groupGRANT you can explore many charities in your areas of interest. Connect with charities that have needs and sponsor a groupgrant! We make it easy for businesses to donate to charities. Sign&nbsp;up&nbsp;today!
            </p>
           </div>
             <!-- <% if current_user.nil? %>
                <%= link_to(business_sign_up_path, style:"text-decoration: none") do %>
                    <button type="button" class="btn btn-primary btn-lg btn-block">Register as a Business</button>
                <% end %>
              <% end %> -->
          </div>
      </div>
    </section>
    <section class="donor user">
      <div class="section-inner">
        <div class="wrapper">
          <%= link_to image_tag('donor.png', class: 'img-responsive business_img user_image'), donor_sign_up_path %>
          <div class="copy">
            <p>
              Do you have a heart for the suffering and needy? Would you like to know how you can make a difference in your giving? Use groupGRANT to find charities that touch your heart, and see how you can give towards their cause. Donate towards a groupgrant and share your burden with others on Facebook and Twitter! We make it easy for you to donate to charities. Sign&nbsp;up&nbsp;today!
            </p>
          </div>
        </div>
      </div>
      <!-- <% if current_user.nil? %>
        <%= link_to(donor_sign_up_path) do %>
            <button type="button" class="btn btn-primary btn-lg btn-block">Register as a Donor</button>
        <% end %>
      <% end %> -->
    </section>
  </div>
  <div class="explore">
    <div class="wrapper-explore">
      <%= link_to(groupgrants_path, style:"text-decoration: none") do %>
        <button type="button" class="btn btn-success btn-lg btn-block">Explore groupGrants!</button>
      <% end %>
    </div>
  </div>

<% end %>
<%= javascript_include_tag("holder.min.js") %>
<%= javascript_include_tag("homepage.js") %>
<%= javascript_include_tag("groupgrant_hype_generated_script.js") %>
<%= javascript_include_tag("HYPE.js") %>
<%= javascript_include_tag("hideHype.js") %>
