<br>
<br>
<h2>About your business</h2>

<%= f.input :category_id, :as => :select, :collection => BusinessCategory.all, options = {:include_blank => 'Select a category...'}, :label_method => :name, :value_method => :id %>
<%= f.input :title %>
<%= f.input :slogan %>
<%= f.input :description, as: :text %>
<%= f.input :interests, as: :text %>
<%= f.input :goods, as: :text %>
<%= f.input :services, as: :text%>
