<div class = 'span2'><%= f.label :name, "Business Name" %></div><div class = 'span2'>
<%= f.text_field :name, value: rolable_type.name %></div>

<div><%= f.label :description, "Business description in 1000 words or less." %><br />
<%= f.text_area :description, size: "60x4", value: rolable_type.description  %></div>

<div><%= f.label :goods, "List of services goods available to charities. (Comma delimited)" %><br />
<%= f.text_area :goods, size: "60x4", value: rolable_type.goods  %></div>

<div><%= f.label :services, "List of services available to charities. (Comma delimited)" %><br />
<%= f.text_area :services, size: "60x4", value: rolable_type.services  %></div>