<br>
<br>
<h4>About your business</h3>

<div class="row">
   <%= f.label :category_id, "Business Category ", :class => 'span3 form_label' %>
   <%= f.collection_select :category_id, BusinessCategory.all, :id, :name, options = {:include_blank => 'Select a category...'}, html_options = {:class => 'span5 form_label'} %>
</div>

<div class="row">
   <%= f.label :name, "Organization Name", :class => 'span3 form_label' %>
   <%= f.text_field :name, value: rolable_type.name , :class => 'span5 form_field' %>
</div>

<div class="row">
   <%= f.label :phone_number, "Organization Phone Number", :class => 'span3 form_label' %>
   <%= f.text_field :phone_number, value: rolable_type.phone_number , :class => 'span5 form_field' %>
</div>

<div class="row">
   <%= f.label :description, "Describe your Organization in 1000 words or less.", :class => 'span3 form_label' %>
   <%= f.text_area :description, size: "60x5", value: rolable_type.description, :class => 'span5 form_field' %>
</div>

<div class="row">
   <%= f.label :interests, "Describe your Organization's interests in 1000 words or less.", :class => 'span3 form_lable' %>
   <%= f.text_area :interests, size: "60x5", value: rolable_type.interests, :class => 'span5 form field' %>
</div>

<div class="row">
   <%= f.label :goods, "List of goods available to charities.", :class => 'span3 form_label' %>
   <%= f.text_field :goods, size: "60x4", value: rolable_type.goods , :class => 'span5 form_field' %>
</div>

<div class="row">
   <%= f.label :services, "List of services available to charities. (Comma delimited)", :class => 'span3 form_label' %>
   <%= f.text_field :services, size: "60x4", value: rolable_type.services , :class => 'span5 form_field' %>
</div>