<br>
<br>
<h3>About your charity</h3>
<%= f.input :category_id, :as => :select, :collection => CharityCategory.all, :label_method => :name, :value_method => :id %>
<%= f.input :name %>
<%= f.input :eid %>
<%= f.input :description, as: :text %>
<%= f.input :video_url %>
<%= f.input :mission_statement, as: :text %>
<%= f.input :target_area, as: :text %>
