<div><%= f.label :name, "Organization Name" %><br />
<%= f.text_field :name, value: rolable_type.name  %></div>

<div><%= f.label :eid, "Employee Identification Number (EIN)" %><br />
<%= f.text_field :eid, value: rolable_type.eid %></div>

<div><%= f.label :description, "Describe your Organization in 1000 words or less." %><br />
<%= f.text_area :description, size: "60x4", value: rolable_type.description   %></div>

<div><%= f.label :video_url, "Paste a video url to represent your company." %><br />
<%= f.text_field :video_url, value: rolable_type.video_url  %></div>

