  <div><%= f.label :profile %><br />
   <%= f.file_field :profile %></div>
   
  <div><%= f.label :email %><br />
  <%= f.email_field :email, value: user.email %></div>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

<% if current_user.user.encrypted_password.present? %>
  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>
<% end %>