<div class="row">
  <%= f.label :profile, :class => 'span3' %>
   <%=  image_tag(user.profile.url(:thumb)) %>
   <%= f.file_field :profile,  :class => 'span3' %>
</div><br>
<div class="row">  
  <%= f.label :email, :class => 'span3' %>
  <%= f.email_field :email, value: user.email, :class => 'span4' %>
</div>
<div class="row">  
  <%= f.label :phone, :class => 'col-xs-12 col-md-4' %>
  <%= f.text_field :phone, value: user.phone, :class => 'col-xs-12 col-md-4' %>
</div>
<div class = 'container'>
<div class="row">
  <%= f.label :password, :class => 'span3' %> 
  <%= f.password_field :password, :autocomplete => "off", :class => 'span4' %>
</div>
</div>
<div class="row">
  <%= f.label :password_confirmation, :class => 'span3' %>
  <%= f.password_field :password_confirmation, :class => 'span4' %>
</div>

<% if current_user.user.encrypted_password.present? %>
<div class="row">
  <%= f.label :current_password, :class => 'span3' %> 
  <%= f.password_field :current_password, :class => 'span4' %>
</div>

<div class="row">
  <div class= 'span5'><i>(*we need your current password to confirm any changes made)</i></div>
</div>
<br><bR>
  <div><%= f.submit "Update", :class => 'span3' %></div>

<% end %>
