<div class="form-group">
   <%= f.label :profile, :class => 'col-sm-2 control-label', style: "margin-top: 15x;" %>
      <%=  image_tag(f.object.profile.url(:thumb), class: 'col-sm-2 col-md-1') %>
   <div class="col-sm-8 col-md-4"  style="margin-top: 15px;">
      <%= f.file_field :profile, :class => 'form-control' %>
   </div>
</div>

<%= f.input :email %>
<%= f.input :password, :autocomplete => "off" %>
<%= f.input :password_confirmation %>

<% if :rest == 'put' && current_user.encrypted_password.present? %>
   <div class="form-group">
      <%= f.label :current_password, :class => 'col-sm-2 control-label' %> 
      <div class="col-sm-10">
         <%= f.password_field :current_password, :class => 'form-control' %>
      </div>
   </div>
<% end %>

<%= f.input :phone %>

<!--%=# link_to_add_fields "Add Address", f, :addresses %-->