<h3>Edit <%= resource.rolable_type.to_s.humanize %></h3>


<%= simple_form_for(resource, :as => resource.class.name.downcase, :url => registration_path(resource_name), :html => {class: "form-horizontal", role: "form", :method => :put, :multipart => true }) do |f| %>
<%= my_devise_error_messages! %>

 <%= render :partial => "user_fields", :locals => { :f => f } %>
 <% if !current_user.rolable_type.nil? %>
   <%= f.fields_for :rolable do |rf| %>
       <% render :partial => resource.rolable_type.underscore + "_fields", :locals => { :f => rf} %>
   <% end %>
 <% end %>
<br>

<%= f.button :submit, :class => 'btn-primary col-md-offset-2'  %>
<% end %>
<br>
<br>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => 
	{ :confirm => "Are you sure you want to leave us?" }, :method => :delete %>.</p>

<%= link_to "Back", :back %>

