<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true }) do |f| %>
  <%= f.fields_for :user do |builder| %>
    <%= render :partial => "user_fields", :locals => { :f => builder, :user => resource.user } %>
  <% end %>

 <% if !current_user.user.rolable_type.nil? %>
   <%= fields_for resource.user.rolable_type do |rf| %>
       <% render :partial => resource.user.rolable_type.underscore + "_fields", :locals => { :f => rf, :rolable_type => resource } %>
   <% end %>
 <% end %>

  <div><%= f.submit "Update" %></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

<%= link_to "Back", :back %>
