<%
  # customized code begin
   begin
      params[:user][:user_type] ||= 'donor'
   rescue
      params[:user] = {}
      params[:user][:user_type] = "donor"
   end
  if ["donor", "charity", "business"].include? params[:user][:user_type].downcase
    child_class_name = params[:user][:user_type].downcase.camelize
    user_type = params[:user][:user_type].downcase
  else
    child_class_name = "donor"
    user_type = "donor"
  end

  resource.rolable_type = child_class_name.constantize.new if resource.rolable_type.nil?

  # customized code end
%>
<h2><%= user_type.humanize %> sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
    <div><%= f.label :profile %><br />
   <%= f.file_field :profile %></div>
   

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>


   <% if f.object.password_required? %>
  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>
 <% end %>

 <% if ["donor", "charity", "business"].include? params[:user][:user_type].downcase %>
   <%= fields_for resource.rolable_type do |rf| %>
       <% render :partial => "#{child_class_name.underscore}_fields", :locals => { :f => rf, rolable_type: resource.rolable_type } %>
   <% end %>
 <% end %>

  <%= hidden_field :user, :user_type, :value => user_type %>
  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>



