<% content_for :title do %>Register<% end %>
<%
  # customized code begin
  if(params[:user])
    if(!params[:user][:user_type].nil?)
       user_type = params[:user][:user_type].downcase
    elsif(!params[:user][:donor].nil? || !params[:user][:charity].nil? || !params[:user][:business].nil?)
      if(!params[:user][:donor].nil?)
        user_type = 'donor'
      elsif(!params[:user][:charity].nil?)
        user_type ='charity'
      elsif(!params[:user][:business].nil?)
        user_type = 'business'
      end
    elsif (!@user_type.nil?)
      user_type = @user_type.downcase
    elsif(!params[:donor].nil? || !params[:charity].nil? || !params[:business].nil?)
      if(!params[:donor].nil?)
        user_type = 'donor'
      elsif(!params[:charity].nil?)
        user_type ='charity'
      elsif(!params[:business].nil?)
        user_type = 'business'
      end
    end
  #omnioth facebook
  else
    user_type = 'donor'
  end

  # if ["donor", "charity", "business"].include? params[:user][:user_type].downcase
  #   child_class_name = params[:user][:user_type].downcase.camelize
  #   user_type = params[:user][:user_type].downcase
  # else
  #   child_class_name = "donor"
  #   user_type = "donor"
  # end
  Rails.logger.info("hahahaaahah")
  Rails.logger.info(resource.rolable.nil?)
  resource.rolable = user_type.downcase.camelize.constantize.new if resource.rolable.nil?

  # customized code end
%>
<% Rails.logger.info("this is a meesage saying I got here?") %>
<h2><%= user_type.humanize %> sign up</h2>

<%= simple_form_for resource, :as => resource_name, :url => registration_path(resource_name), html: {class: "form-horizontal"} do |f| %>
  <!--%= #my_devise_error_messages! %-->

  <%= render :partial => "user_fields", :locals => { :f => f, :rest => 'post'} %>

  <% if ["donor", "charity", "business"].include? user_type %>
    <%= f.fields_for :rolable, as: 'rolable'  do |rf| %>
      <% render :partial => "#{user_type}_fields", :locals => { :f => rf } %>
     <% end %>
  <% end %>

  <%= hidden_field :user, :user_type, :value => user_type %>
  <br>
  <%= f.button :submit, :class => 'btn-primary col-md-offset-2'  %>
<% end %>
<br><br><br>
<%- if controller_name != 'sessions' %>
  <%= link_to "Already have an account? Click to sign in", new_session_path(resource_name) %><br />
<% end -%>


