<%
  # customized code begin
   begin
      params[:user][:user_type] ||= 'donor'
   rescue
      params[:user] = {}
      params[:user][:user_type] = "donor"
   end
  if ["donor", "charity", "business"].include? params[:user][:user_type].downcase
    child_class_name = params[:user][:user_type].downcase.camelize
    user_type = params[:user][:user_type].downcase
  else
    child_class_name = "donor"
    user_type = "donor"
  end

  resource.rolable_type = child_class_name.constantize.new if resource.rolable_type.nil?

  # customized code end
%>
<h2><%= user_type.humanize %> sign up</h2>

<%= form_for resource, :as => resource_name, :url => registration_path(resource_name), html: {class: "form-horizontal", role: "form"} do |f| %>
  <%= devise_error_messages! %>

  <%= render :partial => "user_fields", :locals => { :f => f, :rest => 'post'} %>

  <% if ["donor", "charity", "business"].include? params[:user][:user_type].downcase %>
    <%= fields_for resource.rolable_type do |rf| %>
      <% render :partial => "#{child_class_name.underscore}_fields", :locals => { :f => rf, rolable_type: resource.rolable } %>
     <% end %>
  <% end %>

  <%= hidden_field :user, :user_type, :value => user_type %>
  <br>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Sign up", :class => 'btn btn-default' %>
    </div>
 </div>

<% end %>

<%- if controller_name != 'sessions' %>
  <%= link_to "Already have an account? Click to sign in", new_session_path(resource_name) %><br />
<% end -%>


