<%= simple_form_for (@groupgrant), html: {class: "form-horizontal", role: "form"} do |f| %>
  <%= f.error_notification %>

<br>
<br>
<div class="form-group">

   	<%= f.label :category_id, "groupGrant Category ", :class => 'col-sm-2 control-label' %>
   	<div class="col-sm-10">
   		<%= f.collection_select :category_id, GroupgrantCategory.all, :id, :name, options = {:include_blank => 'Select a category...'}, html_options = {:class => 'span5 form_label'} %>
	</div>
</div>

<div class="form-group">
   	<%= f.label :name, "groupGrant name", class: 'col-sm-2 control-label' %>
   	<div class="col-sm-10">
   		<%= f.text_field :name, class: 'form-control' %>
	</div>
</div>

<div class="form-group">
	<%= f.label :description, "Describe what this groupGrant is for", :class => 'col-sm-2 control-label' %>
	<div class="col-sm-10">
		<%= f.text_area :description, size: "60x5", class: 'form-control' %>
	</div>
</div>

<div class="form-group">
	<%= f.label :goal_date, "When does this groupGrant need to be fulfilled?", :class => 'col-sm-2 control-label' %>
  	<div class="col-sm-10">	
	<%= f.text_field :goal_date, class: 'form-control' %>
	</div>
</div>

<div class="form-group">
	<%= f.label :goal_amount, "How much money is needed for this groupGrant?", :class => 'col-sm-2 control-label' %>
  	<div class="col-sm-10">	
	<%= f.text_field :goal_amount, class: 'form-control' %>
	</div>
</div>

<div class="form-group">
	<%= f.label :video_url, "Paste a video URL to your groupGrant", :class => 'col-sm-2 control-label' %>
  	<div class="col-sm-10">	
	<%= f.text_field :video_url, class: 'form-control' %>
	</div>
<!-- <a href="#"><i class="icon-home icon-white"></i> Home</a> -->
</div>

<div class="form-actions">
    <%= f.button :submit, value: "Save groupGrant" %>
</div>
<% end %>