<%= simple_form_for @groupgrant, html: {class: "form-horizontal"} do |f| %>
  <%= f.error_notification %>

<%= f.input :name %>

<div class="form-group">
   <%= f.label :groupgrant_pic, :class => 'col-sm-2 control-label', style: "margin-top: 15x;" %>
      <%=  image_tag(f.object.groupgrant_pic.url(:thumb), class: 'col-sm-2 col-md-1') %>
   <div class="col-sm-8 col-md-4"  style="margin-top: 15px;">
      <%= f.file_field :groupgrant_pic, :class => 'form-control' %>
   </div>
</div>

<%= f.input :category_id, :as => :select, :collection => GroupgrantCategory.all, :label_method => :name, :value_method => :id %>
<%= f.input :description, label:"Describe what this groupGrant is for" %>
<%= f.input :goal_date, as: :string, label: "When does this groupGrant need to be fulfilled?", :input_html => { :class => 'datepicker' }  %>
<%= f.input :goal_amount, :as => :currency, lable: "How much money is needed for this groupGrant?" %>

<%= f.input :video_url, label: "Paste a video URL to your groupGrant" %>

<%= f.button :submit, :class => 'btn-primary col-md-offset-5'  %>

<% end %>