<%= link_to(groupgrant) do %>
<!--   <div class="groupgrant_index_single row"> -->
    <div class="col-xs-6 col-sm-6 col-md-4" style="height:424px;">

      <div class="thumbnail">
        <%= image_tag groupgrant.groupgrant_pic.url, class: "groupgrant_image" %>
        <div class="caption">
          <h4><div class="ellipsis_gg_title"><div><%= groupgrant.description %></div></div></h4>
          <div class="ellipsis_gg_about"><div><%= groupgrant.description %></div></div>
          <div class="progress progress-striped">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= groupgrant.progress %>%;">
            <span class="sr-only"><%= groupgrant.progress %></span>
            </div>
          </div>
          <p><a href="" class="btn btn-primary" role="button">Donate</a></p>

        </div>
      </div>
    </div>
<!--   </div> -->
<% end %> 