<%= link_to(groupgrant) do %>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="thumbnail gg_thumbnail background-light-gray">
     
      <div class="image_container_index"><%= image_tag groupgrant.groupgrant_pic.url(:medium), class: "gg_image", style:":block;" %></div>
      <% groupgrantOwner = Charity.find(groupgrant.owner_id) %>
      <div class="caption">
        
        <div class="ellipsis_gg_title">
          <%= groupgrant.name %>
        </div>

        <div class="gg_owner">
          <%= groupgrantOwner.name %>
        </div>

        <div class="gg_progress_raised">
          <br>
          <input type="text" value=<%= if groupgrant.goal_status.nil? then 0 elsif groupgrant.goal_status < groupgrant.goal_amount  then groupgrant.progress.to_i else 100 end %> class="dial" readOnly="true" style="width: 0px";>
          
        </div>
          <% Rails.logger.info("view") %>
          <% Rails.logger.info("goal_status") %>
          <% Rails.logger.info(groupgrant.goal_status) %>
          <% Rails.logger.info("goal_amount") %>
          <% Rails.logger.info(groupgrant.goal_amount) %>
          <% Rails.logger.info("progress") %>
          <% Rails.logger.info(groupgrant.progress) %>
        <div class="gg_goal_index">
          Goal:
          <br>
          <%= number_to_currency(groupgrant.goal_amount, :precision => 0, :delimiter => ',') %>
        </div>

        <div class="gg_raised_index">
          Raised: 
          <br><%= number_to_currency(groupgrant.goal_status, :precision => 0, :delimiter => ',') || '$0' %>
        </div>
      </div>
    </div>
  </div>
<% end %>