<%= link_to(groupgrant) do %>

  <div class="col-xs-6 col-md-6 ">
    <div class="thumbnail gg_thumbnail" style="background-color:#E6E6E6;">
     
      <%= image_tag groupgrant.groupgrant_pic.url(:medium), class: "gg_image", style:":block;" %>
      <% groupgrantOwner = Charity.find(groupgrant.owner_id) %>
      <div class="caption">
        
        <div class="ellipsis_gg_title"><%= groupgrant.name %></div>
        <div class="gg_owner"><%= groupgrantOwner.name %></div>
        <div class="progress_bar">
          <input type="text" value="75" class="dial" readOnly="true">
        </div>
        <div class="gg_goal">
          <%= number_to_currency(groupgrant.goal_amount, :precision => 0, :delimiter => ',') %>
        </div>
        <div class="gg_raised">
          <%= number_to_currency(groupgrant.goal_status, :precision => 0, :delimiter => ',') %>
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>