<% content_for :title do %>Show groupGrants<% end %>
<div class = 'col-sm-3 gg-left-column tall'>
  <div class = "row">
    <%= form_tag "#{Rails.configuration.dumb_url}/groupgrants", :method => 'get' do %>   
      <div class="input-group">
        <%= text_field_tag :search, params[:search], type: "text", class: "form-control" %>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
      </div>
    <% end %>
      

  </div>

  <div class = "row">
    <br>
    <ul class="nav nav-pills nav-stacked">
      <li <% if 0 == @category_id.to_i %> class="active"  <% end %>>
        <%= link_to(url_for(:controller => "groupgrants", :action => "index")) do %>
          <%= 'All' %> <span class="badge pull-right"><%= @category_count['all'].to_s %></span>
        <% end %>
      </li>

      <% @categories.each do |c| %>
        <li <% if c.id == @category_id.to_i %> class="active"  <% end %>>
          <%= link_to(url_for(:controller => "groupgrants", :action => "index", :category => c.id)) do %>
            <%= c.name %> <span class="badge pull-right"><%= @category_count[c.id].to_s %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class = "col-sm-9 gg-right-column">
  <div class="row">
    <div class="col-md-12">
      <% if user_signed_in? && current_user.rolable.class.name == "Charity" %>
        <%= link_to 'Start a new groupGrant', new_groupgrant_path, class: "btn btn-primary btn-md", style: "float:right; margin-left:10px; margin-bottom:10px;"%>      
      <% end %>
    </div>
  </div>
  <div class="row">
      <%= render partial: "groupgrant", collection: @groupgrants %> 
  </div>
</div>