<p id="notice"><%= notice %></p>

<h2><%= @groupgrant.name %></h2>

<p>
  <%= @groupgrant.description %>
</p>
<p>
  <strong>Goal date:</strong>
  <%= @groupgrant.goal_date %>
</p>
<p>
  <strong>Goal amount:</strong>
  <%= @groupgrant.goal_amount %>
</p>

<%= link_to 'Edit', edit_groupgrant_path(@groupgrant) %> |
<%= link_to 'Back', groupgrants_path %>