<div>
	<!-- groupGrant title -->
	<h2><strong><%= @groupgrant.name %></strong></h2>
	<!-- owning Charity -->
	<h3><%= @groupgrantOwner.name %></h3>
</div>

<hr style="background:#F87431; border:0; height:7px" />

<div class="row">
	<!-- groupGrant description and info box -->
	<div class="col-md-7">
	<!-- groupGrant description -->
	</div>
	<div class="col-md-5">
		<!-- groupGrant info box -->
		<div class= "well well-lg">
  			<!-- groupGrant progress-->
        	<div class="progress_bar">
          		<input type="text" value="75" class="dial" data-displayInput="true" data-width="80" data-height="40" readOnly="true" data-fgColor="#003399" data-thickness=".3" data-fgColor="#66CC66" data-angleOffset=-75 data-angleArc=150>
          		<!-- groupGrant raised amount -->
          		<div class="groupgrant_raised">
            		<%= number_to_currency(@groupgrant.goal_status, :precision => 0, :delimiter => ',') %> Raised 
          		</div>
          		<!-- groupGrant goal amount -->
          		<div class="groupgrant_goal">
            		<%= number_to_currency(@groupgrant.goal_amount, :precision => 0, :delimiter => ',') %> Goal
          		</div>
        	</div>
        	<!-- groupGrant time remaining -->
          	<strong>
            	<%= distance_of_time_in_words(Time.now, @groupgrant.goal_date)  %> left
          	</strong>
          	<!-- Donate to groupGrant -->
        	<span style="float:right; position:relative; top:-6px">
          		<a href="/groupgrant/new" class="btn btn-primary" role="button">Donate</a>
        	</span>
 		</div>
	</div>
</div>

<hr style="background:#F87431; border:0; height:7px" />

<div class="row">
	<!-- groupGrant photos/videos and partnerships -->
	<div class="col-md-7">
	<!-- groupGrant photos/videos -->
	<div class="col-md-5">
	<!-- groupGrant partnerships -->
</div>