
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>
<!-- Facebook SDK -->
<div id="fb-root"></div>
<script>
   window.fbAsyncInit = function() {
   FB.init({
   appId      : '603004516422329',
   status     : true,
   xfbml      : true
   });
   };

   (function(d, s, id){
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/en_US/all.js";
   fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


<div class="row">
	<div class = "col-md-7">
	<!-- Put the Name and Description in this section-->
	  <div class="title"><%= @groupgrant.name %></div>
    <%= @groupgrant.video_url_html%>
      <div>
        <%= @groupgrant.description %>
      </div>
	</div>
	<div class= "col-md-5">
		<!-- Goals panel -->
		<div class="panel panel-primary">
  		<!-- Default panel contents -->
  		<div class="panel-heading"><strong>Goal <%= number_to_currency(@groupgrant.goal_amount, :precision => 0, :delimiter => ',') %></strong></div>
  		<div class="panel-body">
  			<!-- groupGrant goals progress-->
  			<div class="progress progress-striped" style="margin-bottom: 5px; height: 30px;">
        		<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%; <%= @groupgrant.progress %>%">
        		<span style="color: white; font-size: 1.2em; font-weight: bold; text-shadow: 0px -1px 0px #363; line-height: 30px;">45% complete</span>
        		</div>
    		</div>
                 <div>
            <%= number_to_currency(@groupgrant.goal_status, :precision => 0, :delimiter => ',') %> Raised 
          </div>
<!--   			<div class="progress progress-striped" style="background: none; border: none; margin: 0; -webkit-box-shadow: none">
        		<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%; background: none; border: none; -webkit-box-shadow: none">
        		<span style="color: black">40% complete</span>
        		</div>
    		</div> -->
 		</div>
  			<!-- List group -->
  			<ul class="list-group">
    			<li class="list-group-item"><strong>Reach goal by <%= @groupgrant.goal_date.to_formatted_s(:long) %></strong>
            <span style="float:right; position:relative; top:-6px">

              <!-- Button trigger modal -->
               <a <button class="btn btn-primary btn-lg" data-toggle="modal" data-target=".payment-form">Donate</button></a>
              
                <div class="modal fade payment-form" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

                 <div class="modal-dialog">
                   <div class="modal-content">
                     <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                       <h4 class="modal-title">Make a Donation</h4>
                     </div>

                     <form action="/groupgrants/submit_payment" method="POST" id="payment-form">
                       <span class="payment-errors"></span>

                     <div class="modal-body">
                       <div class="form-row">
                         <label>
                           <span>Donation Ammount</span>
                           <input type="text" size="20" data-stripe="amount" id="amount" name="amount"/>
                         </label>
                       </div>

                       <div class="form-row">
                         <label>
                           <span>Card Number</span>
                             <input type="text" size="20" data-stripe="number"/>
                         </label>
                       </div>

                       <div class="form-row">
                         <label>
                           <span>CVC</span>
                           <input type="text" size="4" data-stripe="cvc"/>
                         </label>
                       </div>

                       <div class="form-row">
                         <label>
                           <span>Expiration (MM/YYYY)</span>
                           <input type="text" size="2" data-stripe="exp-month"/>
                         </label>
                         <span> / </span>
                         <input type="text" size="4" data-stripe="exp-year"/>
                       </div>                 
                     </div>

                     <div class="modal-footer">
                       <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                       <button type="submit" class="btn btn-primary">Donate Now</button>                         
                     </div>                   
                   </form>
                 </div><!-- /.modal-content -->
               </div><!-- /.modal-dialog -->
             </div><!-- /.modal -->
           </span></li>
  			</ul>
		</div>
		<div class = "social-media-icons automargin">
         <table>
            <tr>
               <td>
                  <!-- Share a Tweet-->
                  <script>
                     !function(d,s,id)
                     {
                     var js,fjs=d.getElementsByTagName(s)[0];

                     if(!d.getElementById(id))
                     {
                     js=d.createElement(s);
                     js.id=id;
                     js.src="https://platform.twitter.com/widgets.js";
                     fjs.parentNode.insertBefore(js,fjs);
                     }
                     }
                     (document,"script","twitter-wjs");

                     $(document).ready(function(){
                     var href = location.pathname;
                     var tweet = "<a href=\'http://www.groupGrant.com" + href;
                         tweet = tweet + "\' class=\'twitter-share-button\' data-lang=\'en\' data-count=\'none\'>Tweet</a>";
                     var share = "<div class=\'fb-share-button\' data-href=\'http://www.groupGrant.com" + href + "\'data-width=\'100\' data-type=\'button\'></div>";

                     $("#tweets").html(tweet);
                     $("#sharePage").html(share);
                     });
                  </script>
                  <!-- Show Tweet Button -->
                  <div id="tweets"></div>
                  
               </td>
            </tr>
            <tr>
               <td>
                  <!-- Show Facebook button -->
                  <div id="sharePage"></div>
               </td>
            </tr>
         </table>
         	<% if user_signed_in? &&  current_user.id == @groupgrant.owner_id %>
        		<%= link_to 'Edit groupGrant', edit_groupgrant_path(@groupgrant), class: "btn btn-primary btn-md",  style:"float:right"%>
			<% end %>
    </div>
    <br>


    <h3>Sponsors</h3>
    <h4><%= @groupgrantOwner.name %></h4>
    <div style="clear:both;">
      <%= image_tag @groupgrantOwner.user.profile.url(:thumb) %>
      <%= @groupgrantOwner.description %>
    </div>
    <br />
    <div id="sponsors">
      <% if user_signed_in? && current_user.rolable_type == "Business" && @groupgrant.partner_id == 0 %>
      <% r = Request.where(groupgrant_id: @groupgrant.id)
         #check if this is the user that sent it
         if (r[0] != nil)
            r = Request.find(r)
            m = Message.where(request_id: r.id)
            m = Message.find(m)
            if (m.user_sent_id == current_user.id) %>

              <div class="btn btn-primary" id="cancel"
                   data-groupgrant=<%=@groupgrant.id %> >Request Pending. Cancel? </div>
            <% end %>
          <% else %>
          
          <div id="request" class="btn btn-primary" 
              data-groupgrant=<%=@groupgrant.id %> >Connect with Charity </div>
        <% end %>
      <% end %>
    </div>
   
   </div>
</div>
<div class="row">
   <div class="col-md-7">
   <!-- Put the video in this section -->
   </div>
   <div class = "col-md-4">
<<<<<<< HEAD
      <!-- Put the Partnerships in this section -->	  
</div>

<%= javascript_include_tag("https://js.stripe.com/v2/") %>
<%= javascript_include_tag("stripe.js") %>
