<%= link_to(charity) do %>
   <div class="media" style="margin-bottom:10px;">
      <img class="pull-left media-object charity_partial_pic" <%= image_tag charity.charity_pic.url(:small) %>
      <div class="media-body">
         <h4 class="media-heading"><%= highlight(charity.name, params['search']) %><small><em> 
                                   <%= charity.mission_statement %></em></small></h4>
         <div><%= highlight(charity.description, params['search']) %></div>
      </div>
   </div>
<% end %>