<!-- Load Facebook SDK-->
<div id="fb-root"></div>

<!-- beginning of row 1 -->
<div class="row">
  <!-- Row that includes Charity picture, name, mission statement, and description -->

  <div class="col-md-1">
    <!-- I made this so things would be centered -->
  </div>

  <div class="col-md-4">
    <!-- Charity picture -->
    <% if @charity.user.profile.url.include? "missing" %>
      <%= image_tag @charity.charity_pic.url(:medium), class: 'col-md-12 col-xs-6' %>
    <% else %>
      <%= image_tag @charity.user.profile.url(:medium), class: 'col-md-12 col-xs-6' %>
    <% end %>
  </div>

  <div class="col-md-6">
    <div class="text-center">
      <!-- Charity name and mission statement -->
      <h1><strong><%= @charity.name %><strong><br/><small><em><%= @charity.mission_statement%></em></small></h1>
    </div>

    <p class="lead">
      <!-- Charity description -->
      <%= @charity.description %>
      <% if !@charity.target_area.blank? %>
        <br><br>
          Target Area: <%= @charity.target_area %>
      <% end %>
    </p>
  </div>

  <div class="col-md-1">
    <!-- I made this so things would be centered -->
  </div>

</div> 
<!-- end of row 1 -->

<!-- beginning of row 2 -->
<div class="row">
  <!-- Row that includes contact details, category, groupgrants, etc. -->
  <div class="col-md-1">
    <!-- I made this so things would be centered -->
  </div>

  <div class="col-md-4">
    <!-- Contact details -->
    <div class="panel panel-default" style="margin:30px;">
      <div class="panel-heading">
        <h3 class="panel-title"><%= "Contact:" %></h3>
      </div>

      <div class="panel-body">
        <% if !@charity.user.phone.blank? %>
          Phone: <%= number_to_phone(@charity.user.phone, area_code: true) %><br>
        <%else %>
          Phone: not listed<br>
        <% end %>

        Address: not listed <br><%= @charity.user.address %><br>

        <!-- Connection request for Business to Charity -->
        <% if user_signed_in? && current_user.rolable.class.name == "Business" %>
          <!-- <button class="btn btn-primary btn-block" tabindex="1" data-toggle="modal" data-target="#myModal">Send Message</button> -->
         
          <div class="modal fade" id="myModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Message</h4>
                </div>
         
                <div class="modal-body">
                  <div class="input-group">
                    <form>
                      <input type="text" class="form-control" id="chat_message">
                      <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit" id="send_message">Send</button>
                      </span>
                    </form>
                  </div>
                </div>
                
                <div class="modal-footer"></div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
        <% end %>
      </div>
    </div>

    <div class = "row">
      <!-- Social media icons -->
      <div class = "col-md-11">
        <div class = "col-md-3 social-media-icons automargin">
          <table>
            <tr>
              <td>                                                     
                <!-- Show Tweet Button -->
                <div id="tweets" ></div>
              </td>
            </tr>
              
            <tr>
              <td>
                <!-- Show Facebook button -->
                <div id="sharePage"></div>                
              </td>
            </tr>
          </table> 
        </div>
      </div>
    </div><!-- row -->
  </div><!-- col-md-4 -->

  <div class="col-md-6">
    <% if @charity.groupgrants.count > 0 %>
      <br />
      <h3 style="margin:0px 0 0px 0;"><em>Support our cause</em></h3>
      <br />

      <div class="groupgrants">
        <%= render :partial => 'groupgrant', collection: @charity.groupgrants, as: :groupgrant %>
      </div>
    <% end %>
  </div>

  <div class="col-md-1"><!-- I made this so things would be centered --></div>
</div>
<!-- end of row 2 -->
