<div class="row">
   <%= image_tag @charity.user.profile.url(:medium),  class:"col-md-3" %> 
   <div class="col-md-9">
    <% if user_signed_in? && current_user.class.name == "Charity" && current_user.id = @charity.id %>
         <%= link_to 'Start a new Groupgrant', new_groupgrant_path, class: "btn btn-primary btn-md", style: "float: right; margin:5px;"%>      
         <%= link_to 'Edit Page', edit_user_registration_path, class: "btn btn-primary btn-md" , style: "float:right; margin:5px;"%>
   <% end %>
      <div class="title"><%= @charity.name %></div>
          <div><%= @charity.mission_statement %></div>
      <br><h4><%= "Contact Information:" %></h4>
          <%= "(Phone Number)" %>
      <br><%= "(Address)" %>
      <br><%= "(Address continued)" %>

   </div>


</div>

<div class = "row">
   <div class = "col-md-11">
      <div class = "col-md-3 social-media-icons automargin">
         <%= image_tag('social_media/facebook-32.png', :alt => "Facebook") %>
         <%= image_tag('social_media/twitter-32.png', :alt => "Twitter") %>
         <%= image_tag('social_media/linkedin-32.png', :alt => "LinkedIN") %>

         <%= image_tag('social_media/googleplus-32.png', :alt => "GooglePlus") %>
      </div>
   </div>
   <div class = "col-md-1">
      <a href="#">Connect</a>
   </div>
</div>

<div class = "row">
   <div class="col-md-6">
      <h3>Description</h3>
      <%= @charity.description %>
   </div>

   <div class="col-md-6">
      <h3>Interests</h3>
      <%= @charity.needs %>
   </div>
</div>

<div class = "row">
   <% if @charity.groupgrants.count > 0 %>
      <h3>Join our groupGrants</h3>
      <bR>
      <div class="charity_groupgrants">
      <%= render :partial => '/groupgrants/groupgrant', collection: @charity.groupgrants %>
      </div>
   <% end %>
</div>

