<div class = "row">
   <div class = "span2"><%= image_tag @charity.user.profile.url(:medium) %></div>
   <div class = "span9">
      <h2><%= @charity.name %></h2>
      <% if !@charity.charity_category.nil? %>
         Category: <%= @charity.charity_category.name %>
      <% end %>
      <br><br>
      <%= @charity.description %>
   </div>
   
   <% if current_user &&  current_user.id == @charity.id %>
      <div class = "span1"><h6><%= link_to 'Edit Page', edit_user_registration_path %></h6></div>
   <% end %>
</div>
<br><br>
<div class = "row">
   <div class = "span7">
      <div class = "row">
         <div class = "span7">
            <p style="font-size:1.5em; line-height:1.1em"> <%= @charity.mission_statement %></p>
         </div>
         <div class = "span7">
            <h3>About Us</h3>
            <div>Email: <%= @charity.user.email  %></div>
            <div>Phone: <%= @charity.user.phone  %></div>
         </div>
      </div>

   </div>
   <div class = "span5" style="text-align:right;"><%= @charity.video_url_html %></div>
</div>

<% if @charity.groupgrants.count > 0 %>
<h3>Our groupGrants</h3>
<%= render :partial => '/groupgrants/groupgrant', collection: @charity.groupgrants %>
<% end %>
