<div style="width: 700px; margin-left: auto; margin-right:auto;">
  
<h2>Pick a user type</h2>

<div class="row" style="padding-top:50px">
  <div class="col-md-4">
      <%= link_to(auto_charity_login_path) do %>
        <%= image_tag('charity.png', class: 'img-responsive charity_img width_150')%>
      <% end %>
  </div>

  <div class="col-md-4" style="text-align: center">
    <%= link_to(auto_business_login_path) do %>
      <%= image_tag('business.png', class: 'img-responsive business_img width_150')%>
    <% end %>
  </div>

  <div class="col-md-4" style="text-align: center">
    <%= link_to(auto_donor_login_path) do %>
      <%= image_tag('donor.png', class: 'img-responsive business_img width_150')%>
    <% end %>
  </div>

</div>
<div class = "row" style="margin-top:60px">
<h2>or sign with an email and password</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<div class="form-inputs">
  <br><%= f.input :email, :required => true, :autofocus => true%>
  <br>
  <br><%= f.input :password, :required => true %>
<span style="position:relative; top:-15px"><%= f.button :submit, "Sign in" %></span>
</div>

<% end %>

</div>
<div class = "row">
  <!-- < %= render "devise/shared/links" %> -->
</div>
</div>