<%= simple_form_for(@payment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs"><br />
  	<%= f.input :card_number%><br />
  	<%= f.input :expiration %><br />
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
