<%= render "layouts/navigation" %>
<% if spree_current_user %>
  <li>
   
  </li>
  <li>
    <%= link_to Spree.t(:logout) + " - " + spree_current_user.email , spree_logout_path, :method => :delete %>
  </li>

<% else %>
  <li>
    <%= link_to Spree.t(:login), spree_login_path %>
  </li>
  <li>
    <%= link_to Spree.t(:signup), spree_signup_path %>
  </li>
<% end %>


<%= stylesheet_link_tag "store/spree_frontend" %>
