<ul class="nav navbar-nav navbar-right">
   <% if user_signed_in? %>
      <p class="navbar-text">Logged in as 
         <strong>
            <% if current_user.rolable_type == "Donor" %>
               <%= current_user.rolable.first_name %>
            <% else %>
               <%= current_user.rolable.name %>
            <% end %>
         </strong>
         <%= link_to image_tag('mail.png', alt: "Messages"), messages_path %>
      </p>
      
      <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
         <ul class="dropdown-menu">
            <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
            <li><%= link_to 'Authentications', authentications_path %></li>
            <% if user_signed_in? && current_user.rolable_type == "Charity" %>
               <li><%= link_to 'Start a groupGrant', new_groupgrant_path %></li>
            <% end %>
            <li class="divider"></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            <!-- <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li> -->
         </ul>    
      </li>
   <% else %>
   <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login<b class="caret"></b></a>
      <ul class="dropdown-menu">
         <li><%= link_to "Email", new_user_session_path %></li>
         <li><%= link_to "Twitter", user_omniauth_authorize_path(:twitter) %></li>
         <li><%= link_to "Facebook", user_omniauth_authorize_path(:facebook) %></li>
         <!-- <li><a href="#">Action</a></li>
         <li><a href="#">Another action</a></li>
         <li><a href="#">Something else here</a></li>
         <li class="divider"></li>
         <li><a href="#">Separated link</a></li> -->
      </ul>
   </li>
   <% end %>
</ul>

