<ul class="nav navbar-nav navbar-right">
   <% if user_signed_in? %>
      <p class="navbar-text" style="padding-top:">Logged in as 
         <strong>
            <% if current_user.rolable_type == "Donor" %>
               <%= current_user.rolable.first_name %>
            <% else %>
               <%= current_user.rolable.name %>
            <% end %>
         </strong>
      </p>
      <span class="navbar-text">
         <%= link_to(messages_path) do %>
            <span id="envelope-icon" 
               <% if Message.where(user_received_id: current_user.id, read: false).count > 0 %> 
                  class="glyphicon glyphicon-envelope grey green" 
               <% else %> 
                  class="glyphicon glyphicon-envelope grey "
               <% end %>
                style="font-size: x-large;"></span>
         <% end %>
      </span>
      
      <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
         <ul class="dropdown-menu">
            <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
            <li><%= link_to 'Authentications', authentications_path %></li>
            <% if user_signed_in? && current_user.rolable_type == "Charity" %>
               <li><%= link_to 'Start a groupGrant', new_groupgrant_path %></li>
            <% end %>
            <li class="divider"></li>
            <!-- <li><%#= link_to "Logout", destroy_user_session_path, method: :delete %></li> -->
            <li><%= link_to "Logout", controller: authentications_path, action: "logout" %></li>
            <!-- <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li> -->
         </ul>    
      </li>
   <% else %>
   <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login<b class="caret"></b></a>
      <ul class="dropdown-menu">
         <li><%= link_to "Email", new_user_session_path %></li>
         <li><%= link_to "Twitter", user_omniauth_authorize_path(:twitter) %></li>
         <li><%= link_to "Facebook", user_omniauth_authorize_path(:facebook) %></li>
         <li><%= link_to "As Charity", controller: authentications_path, action: "charityLogin" %></li>
         <li><%= link_to "As Business", controller: authentications_path, action: "businessLogin" %></li>
         <li><%= link_to "As Donor", controller: authentications_path, action: "donorLogin" %></li>
         <!-- <li><a href="#">Action</a></li>
         <li><a href="#">Another action</a></li>
         <li><a href="#">Something else here</a></li>
         <li class="divider"></li>
         <li><a href="#">Separated link</a></li> -->
      </ul>
   </li>
   <% end %>
</ul>

