<ul class="nav hidden-sm hidden-md navbar-nav">
  <li><%= link_to 'groupGrants', main_app.groupgrants_path %></li>
  <li><%= link_to 'Charities', main_app.charities_path %></li>
  <li><%= link_to 'Businesses', main_app.businesses_path %></li>

  <% if user_signed_in? && current_user.rolable_type != "Donor" %>
    <li><%= link_to 'Marketplace', Rails.configuration.dumb_url + '/store' %></li>
  <% end %>
</ul>

<ul class="nav navbar-nav visible-sm visible-md hidden-xs hidden-lg">
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Navigation <b class="caret"></b></a>
  <ul class="dropdown-menu nav navbar-nav">
    <li><%= link_to 'groupGrants', main_app.groupgrants_path %></li>
    <li><%= link_to 'Charities', main_app.charities_path %></li>
    <li><%= link_to 'Businesses', main_app.businesses_path %></li>
    <% if user_signed_in? && current_user.rolable_type != "Donor" %>
      <li><%= link_to 'Marketplace', Rails.configuration.dumb_url + '/store' %></li>
    <% end %>
  </ul>
</li>
</ul>
<!-- <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li class="divider"></li>
      <li><a href="#">Separated link</a></li>
      <li class="divider"></li>
      <li><a href="#">One more separated link</a></li>
    </ul>
</li> -->


