<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "groupGrant" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "groupGrant" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "businesses" %>
    <%= csrf_meta_tags %>
    <style type="text/css">
      .banner
      {
        margin-left: 130px 
      }
    </style>
  </head>
  <body>
    <%# application layout styled for Twitter Bootstrap 2.3 %>
    <%= yield(:featured) %>

<!--%= image_tag('featured.png', :alt => "groupGrant") %-->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to image_tag('logo.png', size: "150x25", alt: "groupGrant"), 
       root_path, class: 'navbar-brand' %>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <div class="container">
      <%= render 'layouts/navigation' %>
      <%= render 'layouts/authenticate' %>
    </div>
  </div><!-- /.navbar-collapse -->
</nav>
    
    <main role="main">
      <div class="container">
        <div class="content">
              <%= render 'layouts/messages' %>
              <%= yield %>
          <footer>
          </footer>
        </div>
      </div>
    </main>
  </body>
</html>
