<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "groupGrant" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "groupGrant" %>">
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    
    <%= csrf_meta_tags %>
    </style>
  </head>

  <body data-no-turbolink>
    <%# application layout styled for Twitter Bootstrap 2.3 %>    

    <!--%= image_tag('featured.png', :alt => "groupGrant") %-->
    <%= render 'layouts/nav_bar' %>

    <main role="main">
      <%= render 'layouts/messages' %>
      <%= yield(:featured) %>
      <%= yield(:homepage) %>
      
      <div class="container">
        <div class="content">
          <%= yield %> 
          <%= link_to main_app.logout_return_expo_path do %>
          <div class="expo_logo_div">
            <%= image_tag "expo.jpg", class: "expo_logo" %>
            <div class="expo_return_text_div">
              <div class="expo_return_text">Return to EXPO<br>home page</div>
            </div>
          </div> 
          <% end %>      
          <footer>
            <div style="text-align:right; padding-top:10px; border-top: 2px solid grey">Designed and Developed by SEI 2014</div>
          </footer>
        </div>
      </div>
    </main>
  </body>
</html>

<%= javascript_tag "window._token = '#{form_authenticity_token}'" %>