<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Blankcomposer" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Blankcomposer" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%# application layout styled for Twitter Bootstrap 2.3 %>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
          <%= render 'layouts/authenticate' %>
        </div>
      </nav>
    </header>
    <% if current_page?(root_url) %>
      <div id="homeCarousel" class="carousel slide" =>
        <!-- Carousel items -->
        <div class="carousel-inner">
          <% Dir.foreach("app/assets/images/home_carousel") do |item| %>
              <% next if item == '.' or item == '..' or item == '*.html' %>
              <% Rails.logger.info(item) %>
              <div class="item">
                <%= image_tag(('home_carousel/' + item), :alt => "homeCarousel", :class => "automargin maxheight300") %>
                <!-- <div class="carousel-caption">
                     <%= simple_format :file => ('app/assets/images/home_carousel/' + item + '.html') %>
                </div> -->
              </div>
          <% end %>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#homeCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#homeCarousel" data-slide="next">&rsaquo;</a>
      </div>
    <% end %>
    <main role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div>
    </main>
  </body>
</html>
